/*************************************************************  FONT  **************************************************/

@font-face {
	font-family: ballpark;
	src: url(../fonts/ballpark.ttf);
}

/*****************************************************     GENERAL STYLES      *********************************************/

a:hover {
	text-decoration: none;
}

body {
	font-size: 14px;
	line-height: 1.5;
}

a:link { 
	text-decoration: none;
}

a:hover {
	color: #E814EC;
}

a {
	transition: 0.5s;
}

:focus {
	outline:none !important;
}

.row {
	margin: 0;
}

.container {
	padding-left: 0;
}

/*******************************************************  HEADER    ***********************************************/

/***************************************************     TOP BLOCK     ********************************************/

header {
	padding: 20px 0 15px 0;
}

header ul li a {
	padding-left: 10px;
}

.entry a {
	padding-left: 0;
}

.fa:before {
	padding-right: 5px;
}

.list-inline img {
	max-width: 30px;
}

.list-inline a {
	transition: 0.5s;
}

.fa-phone:hover,
.fa-envelope:hover,
.fa-lock:hover {
	color: #E814EC;
}

.modal-content {
	width: 80%;
	top: 70px;
	padding: 5px 0 0 20px;
	position: absolute;
	background-color: #fff;
}

.btn-primary {
	color: #338ECF;
	background-color: #fff;
	border: none;
	transition: 0.5s;
}

.btn-primary:hover {
	border: none;
	background-color: #fff;
	color: #E814EC;
}

.form-control {
	max-width: 400px;
	height: 34px;
	color: black;
	margin-bottom: 30px;
}

/***************************************************** LOGO  **************************************************/

.logo  h1 a {
	font-size: 2em;
	color: #E814EC;
	font-family: ballpark;
}

.logo h1 a:hover {
	color: #008DE5;
	transition: 0.9s;
}

.logo {
	border-radius: 10px;
	background: linear-gradient(to top, #9A9A9A 0%, #D8D8D8 36%, #AEAEAE 100%); 
}

/***************************************************** NAV  **************************************************/

ul.dropdown li { 
	position: relative; 
}

ul.dropdown,
ul.dropdown-inside {
	list-style-type: none;
	padding: 0;
}

ul.dropdown-inside {
	position: absolute;
	left: -9999px;
}

ul.dropdown li.dropdown-top:hover .dropdown-inside {
	display: block;
	width: 180px;
	left: 0;
	z-index: 1;
}

ul.dropdown .dropdown-inside { 
	background: #E1E1E1; 
	border-radius: 10px;
}

ul.dropdown .dropdown-inside li { 
	padding: 10px;
}

ul.dropdown .dropdown-inside a:hover { 
	padding: 5px 20px 5px 20px;
	background: #efefef; 
	border-radius: 5px;
}


nav a {
	padding-left: 5px;
	font-weight: 600;
}

nav {
	padding: 20px 0 40px 0;
	background-image: url(../images/);
}

nav a:hover {
	color: #FF00FD;
	transition: 0.5s;
}

.form-search {
	position: relative;
}

.form-search input {
	max-width: 100%;
	height: 27px;
	border: 1px solid #c8c8c8;
	border-radius: 5px;
}

.form-search button {
	border: none;
	background: transparent;
	position: absolute;
	right: -10px;
	top: 0;
}

.form-search .fa {
	display: block;
	font-size: 18px;
	position: absolute;
	top: 0;
	line-height: 27px;
	color: #24b6e2;
}

.form-search .fa:hover {
	right: -13px;
	color: #3F45FF;
	font-size: 20px;
	transition: .3s;
}

.breadcrumb {
	margin-left: 40px;
}

/***************************************************** CAROUSEL  **************************************************/

.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
	display: block;
	max-width: 100%;
	max-height: 500px;
}

.carousel-inner {
	position: relative;
	width: 100%;
	overflow: hidden;
}

.carousel {
	position: relative;
	max-width: 650px;
}

.carousel-inner>.item.active, .carousel-inner>.item.next.left, .carousel-inner>.item.prev.right {
	left: 75px;
}

.carousel-caption p {
	padding-right: 70px;
	font-size: 20px;
	color: #FF96DE;
}

.carousel-control.right {
	border-radius: 0 20px 20px 0;
}

.carousel-control.left {
	border-radius: 20px 0 0 20px;
}

/************************************************** THUMBNAIL ************************************************************/

.thumbnail {
	padding: 4px;
	margin-bottom: 20px;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 20px;
	background: linear-gradient(to left, #9A9A9A 0%, #D8D8D8 46%, #AEAEAE 100%);
}

.thumbnail img {
	display: block;
	max-width: 100%;
	max-height: 345px;
	border-radius: 5px;
}

.view {
	color: #333;
	background-color: #fff;
	border-color: #ccc;
	margin-top: 10px;
}

/**8888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888*/





/**8888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888*/




/*************************************************   MENU (MENU-LOGO)    *********************************************/

.second-logo {
	padding: 10px;
	margin-bottom: 20px;
	border-radius: 20px;
	background: linear-gradient(to bottom left, #9A9A9A 0%, #D8D8D8 36%, #AEAEAE 100%);
}

.big-foto {
	display: inline-block;
	width: 180px;
	overflow: hidden;
	position: relative;
	text-align: center;
	cursor: default;
}

.big-foto .mask, .big-foto .content {
	width: 180px;
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0
}

.big-foto img {
	width: 200px;
	position: relative
	transform: scaleY(1);
	transition: all 0.7s ease-in-out;
}

.big-foto p {
	font-family: Georgia, serif;
	font-size: 14px;
	font-weight: bold;
	color: black;
	padding: 10px 0 5px 10px;
}

.big-foto a {
	display: inline-block
	text-transform: uppercase;
	position: relative;
	color: #24BAE6;
	transition: all 0.5s linear;
	opacity: 0;
	top: -50px;
	text-decoration: none;
	padding: 7px 14px;
	color: #fff;
	box-shadow: 0 0 1px #000;
}

.big-foto a.info {
	display: inline-block;
	text-decoration: none;
	padding: 7px 14px;
	background: linear-gradient(to bottom right, #BDBDBD 20%, #969696 76%, #AEAEAE 100%);
	color: #fff;
	text-transform: uppercase;
	box-shadow: 0 0 1px #000
	opacity: 0;
	transform: scale(0);
	transition: all 0.5s linear;
	border-radius: 10px;
}

.big-foto a.info:hover {
	box-shadow: 0 0 5px #000;
}

.big-foto .mask {
	transition: all 0.5s linear;
	opacity: 0;
}

.big-foto:hover .mask {
	opacity: 1;
}

.big-foto:hover a.info {
	transform: scale(1);
	opacity: 1;
}

/************************************************************* MORE  ***********************************************/

.more {
	margin: 0 30px 10px 30px;
	border-bottom: 1px solid #D4D4D4;
	border-top: 1px solid #D4D4D4;
	padding: 30px 0;
	font-size: 25px;
}

.more a {
	color: #199696;
	transition: 0.5s;
}

.more a:hover {
	color: #E814EC;
}

/************************************************************* SUBSCRIPTION  ***********************************************/

.subscription {
	color: red;
	line-height: 3;
	background-color: #22CCCC;
}

.input-group {
	max-width: 500px;
	padding: 30px 0 0 0;
	border-radius: 20px;
}

.input-group button {
	border-radius: 10px;
}

.input-group input {
	border-radius: 10px;
}

.subscription img {
	max-width: 150px;
	max-height: 100px;
}

.order {
	padding: 8px 7px;
	border-radius: 10px;
	background-color: #EAEAEA;
	transition: 0.5s;
}

.order-left {
	margin-top: 25px;
}

.order-left a {
	padding: 8px 7px;
	border-radius: 10px;
	background-color: #EAEAEA;
	transition: 0.5s;
}

.order:hover,
.order-left a:hover {
	color: #E814EC;
	background-color: white;
}

/************************************************************* FOOTER  ***********************************************/

footer {
	background-color: #F0F0F0;
	padding: 0;
	margin: 20px 0 0 0;
}

.logo-footer h1 a {
	font-size: 56px;
	color: #22CCCC;
	font-family: ballpark;
	transition: 0.5s;
}

.logo-footer h1 {
	margin-top: 40px;
}

.logo-footer h1 a:hover {
	color: #E814EC;
}

footer .content ul li {
	list-style: none;
}

footer ul {
	padding: 0;
}

footer .widget {
	margin: 30px 0 20px 0;
	text-align: center;
}

footer .fa-vk {
	width: 30px;
	height: 30px; 
	margin-right: 5px;
	font-size: 16px;
	color: #fff;
	background: #B8B8B8;
	border-radius: 50px;
	line-height: 30px;
	cursor: pointer;
}

footer .fa-vk:hover {
	transition: .3s;
	background: #0BD6E1;
	color: #3262C9;
}

footer .fa-vk:not(:hover) {
	transition: .5s;
}

.footer-bottom {
	padding: 50px;
	border-top: 1px solid #D4D4D4;
}



/************************************************************* SOC BUTTONS  ***********************************************/


/************************************************************* @MEDIA QUERIES  ***********************************************/
/**************************************************************  991 *******************************************************/

@media(max-width: 991px) {

	nav .form-search button {
		position: relative;
		top: -15px;
	}

	.input-group {
		left: 140px;
	}


}


/************************************************************* @MEDIA QUERIES  ***********************************************/
/**************************************************************  670 *******************************************************/

@media(max-width: 670px) {

	.carousel-inner>.item.active, .carousel-inner>.item.next.left, .carousel-inner>.item.prev.right {
		left: 70px;
	}

	.input-group {
		left: 90px;
	}

}


/************************************************************* @MEDIA QUERIES  ***********************************************/
/**************************************************************  651 *******************************************************/

@media(max-width: 651px) {

	.carousel-inner>.item.active, .carousel-inner>.item.next.left, .carousel-inner>.item.prev.right {
		left: 60px;
	}

	.input-group {
		left: 30px;
	}

}

/************************************************************* @MEDIA QUERIES  ***********************************************/
/**************************************************************  640 *******************************************************/

@media(max-width: 640px) {

	.carousel-inner>.item.active, .carousel-inner>.item.next.left, .carousel-inner>.item.prev.right {
		left: 45px;
	}


	.input-group {
		left: 0;
	}

}

/************************************************************* @MEDIA QUERIES  ***********************************************/
/**************************************************************  610 *******************************************************/

@media(max-width: 610px) {

	.carousel-inner>.item.active, .carousel-inner>.item.next.left, .carousel-inner>.item.prev.right {
		left: 30px;
	}

}


/************************************************************* @MEDIA QUERIES  ***********************************************/
/**************************************************************  580 *******************************************************/

@media(max-width: 580px) {

	.carousel-inner>.item.active, .carousel-inner>.item.next.left, .carousel-inner>.item.prev.right {
		left: 20px;
	}

}

/************************************************************* @MEDIA QUERIES  ***********************************************/
/**************************************************************  535 *******************************************************/

@media(max-width: 535px) {

	.carousel-inner>.item.active, .carousel-inner>.item.next.left, .carousel-inner>.item.prev.right {
		left: 0px;
	}

}


/************************************************************* @MEDIA QUERIES  ***********************************************/
/**************************************************************  435 *******************************************************/

@media(max-width: 435px) {

	.modal-content {
		top: 40px;
		padding: 5px;
	}

}



/**************************************************************************************************************************/
/**************   STOCK.HTML  *****************************    STOCK.HTML  *****************   STOCK.HTML  ***************/
/**************************************************************************************************************************/



/*************************************************************  GALLERY  ************************************************/

.gallery {
	display: inline-block;
	width: 270px;
	overflow: hidden;
	position: relative;
	text-align: center;
	cursor: default;
}

.gallery .stock, .gallery .content {
	width: 270px;
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0
}

.gallery img {
	width: 250px;
	position: relative
	transform: scaleY(1);
	transition: all 0.7s ease-in-out;
}

.gallery p {
	font-family: Georgia, serif;
	font-size: 14px;
	font-weight: bold;
	color: black;
	padding: 10px 0 5px 10px;
}

.gallery a {
	display: inline-block
	text-transform: uppercase;
	position: relative;
	color: #24BAE6;
	transition: all 0.5s linear;
	opacity: 0;
	top: -50px;
	text-decoration: none;
	padding: 7px 14px;
	color: #fff;
	box-shadow: 0 0 1px #000;
}

.gallery a.info {
	display: inline-block;
	text-decoration: none;
	padding: 7px 14px;
	background: linear-gradient(to bottom right, #BDBDBD 20%, #969696 76%, #AEAEAE 100%);
	color: #fff;
	text-transform: uppercase;
	box-shadow: 0 0 1px #000
	opacity: 0;
	transform: scale(0);
	transition: all 0.5s linear;
	border-radius: 10px;
}

.gallery a.info:hover {
	box-shadow: 0 0 5px #000;
}

.gallery .stock {
	transition: all 0.5s linear;
	opacity: 0;
}

.gallery:hover .stock{
	opacity: 1;
}

.gallery:hover a.info {
	transform: scale(1);
	opacity: 1;
}


/**************************************************************************************************************************/
/**************   contacts.HTML  ********************    CONTACTS.HTML  *****************   contacts.HTML  ***************/
/**************************************************************************************************************************/

.contacts {
	border: 1px solid gray;
	padding: 40px 5px;
}



/**************************************************************************************************************************/
/**************   history.HTML  ********************    HISTORY.HTML  *****************   history.HTML  ***************/
/**************************************************************************************************************************/


.review {
	border: 1px solid #22CCCC;
	margin: 0 20px;
}
